[Unit]
After=norns-jack.service
Requires=norns-jack.service

[Service]
Type=simple
User=we
Group=we
LimitRTPRIO=95
LimitMEMLOCK=infinity
CPUAffinity=2
ExecStart=/home/we/sgynth/engine

[Install]
WantedBy=norns.target
